<header class="w3-container w3-blue w3-margin-bottom ">
  <h1 id="template-title">Change password</h1>
</header>
<form id="ChangePasswordForm" name="GivenUser" class="w3-container" enctype='application/json'>


	<label>Password</label>
	
	<a href="#" class="w3-button w3-blue"> change password</a>
	<input class="w3-input" name="password" type="password" required  pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}'>
	<span class="formErrorMsg deactivatedMsg">sample err msg</span>

</form>
<footer class="w3-container w3-margin-top  w3-margin-bottom ">
   <a class="w3-btn w3-green  w3-right nonCommandButton " href="#/users" id="editBtn">Update</a>
</footer>