<header class="w3-container w3-blue w3-margin-bottom ">
  <h1>Edit user</h1>
</header>
<form id="EditUserForm" name="GivenUser" class="w3-container" enctype='application/json'>

	<label>first name</label>
	<input class="w3-input" name="firstName" type="text" required  pattern='.*'>
	<span class="formErrorMsg deactivatedMsg">sample err msg</span>
	<label>last name</label>
	<input class="w3-input" name="lastName" type="text" required  pattern='.*'>	
	<span class="formErrorMsg deactivatedMsg">sample err msg</span>
	<label>Email</label>
	<input class="w3-input" name="email" type="text" required pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>
	<span class="formErrorMsg deactivatedMsg">sample err msg</span>
	<label>Username</label>
	<input class="w3-input" name="userName" type="text"  required pattern='\w+'>
	<span class="formErrorMsg deactivatedMsg">sample err msg</span>
	<label>Password</label>
	</br>
	<a href="#" class="w3-button w3-blue"> change password</a>
	<!-- <input class="w3-input" name="password" type="password" required  pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}'> -->
	<!-- <span class="formErrorMsg deactivatedMsg">sample err msg</span> -->

</form>
<footer class="w3-container w3-margin-top  w3-margin-bottom ">
   <a class="w3-btn w3-green  w3-right nonCommandButton " href="#/users" id="editBtn">Update</a>
</footer>